<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.greentopli.app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        xmlns:tools="http://schemas.android.com/tools"
        android:name=".MyAppClass"
        android:theme="@style/AppTheme"
        tools:replace="name">
        <activity android:name=".AuthenticatorActivity"/>

        <provider
            android:name="com.greentopli.core.storage.DatabaseProvider"
            android:authorities="com.greentopli.core.storage"
            android:exported="true"/>

        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>