<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.greentopli.app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        xmlns:tools="http://schemas.android.com/tools"
        android:name=".MyAppClass"
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="name">
        <activity
            android:name=".AuthenticatorActivity"
            android:theme="@style/AppTheme.NoActionBar.Dark"/>

        <provider
            android:name="com.greentopli.core.storage.DatabaseProvider"
            android:authorities="com.greentopli.core.storage"
            android:exported="true"/>

        <!--FCM Service on separate process-->
        <service
            android:name=".user.notification.FcmService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!--Firebase instance Id service-->
        <service android:name=".user.notification.InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>