
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<application>
    <activity
        android:name="com.greentopli.app.user.ui.purchase.PurchaseManagerActivity"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    <activity android:name="com.greentopli.app.AuthenticatorActivity"/>

    <activity android:name="com.greentopli.app.user.ui.OrderHistoryActivity"
        android:label="@string/title_order_history"
        android:parentActivityName="com.greentopli.app.user.ui.purchase.PurchaseManagerActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.greentopli.app.user.ui.purchase.PurchaseManagerActivity"/>
    </activity>
    <!--Intent Services-->
    <service
        android:name="com.greentopli.core.OrderHistoryService"
        android:exported="false"/>

    <!--Broadcast receivers-->

</application>
</manifest>
